<div class="col-3 bg-white h-100vh mb-0">
  <div class="pr-50 pl-50 pt-50 pb-10 is-horizontal-align">
    <div class="bg-white rounded-circle bg-cover w-70"
      style="background-image: url({{# if user}} {{user.avatar_url}} {{/if}}); padding-top: 70%;">
    </div>
  </div>
  <div>
    <h4 class="is-center mb-0">{{# if user}} {{user.name}} {{/if}}</h4>
    <p class="text-dark is-center">{{# if user}} {{user.login}} {{/if}}</p>
  </div>
  <div class="sidebar-links p-50" style="padding-top: 30px !important;">
    <a href="{{# if dashboard }}#{{else}}/dashboard{{/if}}" class="sidebar-link {{# if dashboard }}active{{/if}}">
      <i class="fas fa-chart-line"></i>
      Dashboard
    </a>
    <a href="{{# if teams }}#{{else}}/teams{{/if}}" class="sidebar-link {{# if teams }}active{{/if}}">
      <i class="fas fa-users"></i>
      Teams
    </a>
    <a href="{{# if collaborators }}#{{else}}/collaborators{{/if}}"
      class="sidebar-link {{# if collaborators }}active{{/if}}">
      <i class="fas fa-user"></i>
      Collaborators
    </a>
    <a href="{{# if repositories }}#{{else}}/repositories{{/if}}"
      class="sidebar-link {{# if repositories }}active{{/if}}">
      <i class="fas fa-code-branch"></i>
      Repositories
    </a>
    <a href="{{# if setting }}#{{else}}/settings{{/if}}" class="sidebar-link {{# if setting }}active{{/if}}">
      <i class="fas fa-cog"></i>
      Settings
    </a>
  </div>
  <div class="sidebar-footer">
    <div class="row">
      <div class="col-3 is-center">
        <small class="text-dark">Developed by Inkoop Pvt. Ltd.</small>
      </div>
    </div>
  </div>
</div>